# Node modules
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Dependency directories
bower_components/
jspm_packages/

# IDE/editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Test coverage
coverage/

# Miscellaneous
*.pem
*.key
*.crt
*.p12
